img{
  max-width: 100%;
  height: auto;
}

body{
  background-image: url(../images/background.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

ul{
  color: #fff;
}
